<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="etv-bharat">
    <meta name="author" content="Suresh">
    <meta name="Copyright" content="©All rights reserved for MC">
    <meta name="Keywords" content="etv bharat, etv food,etv mahila bharat,young bharat">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <title>Etv-Bharat</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    
    <!--language fonts-->
    <link type="text/css" href="css/language-fonts.css" rel="stylesheet">
    
    <!-- Custom CSS -->
    <link href="css/helper.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    
     <link href="css/bootstrap-multiselect.css" rel="stylesheet">
     
     <link href="css/file-input.css" rel="stylesheet">
     
     
     <!--editer -->
	 <script src="ckeditor/ckeditor.js"></script>
	 <script src="ckeditor/samples/js/sample.js"></script>
     <link href="ckeditor/samples/css/samples.css" rel="stylesheet">
     <link href="ckeditor/samples/toolbarconfigurator/lib/codemirror/neo.css" rel="stylesheet">
     
     <!--calendar-->
     <link href="css/pignose.calendar.min.css" rel="stylesheet">
     
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    
   
      
    
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    
    
    
    <div id="main-wrapper">
        <!-- header header  -->
        <div class="header">
           
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
               
                <div class="navbar-collapse">
                    <!-- toggle and nav items -->
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted  " href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                        <li class="nav-item m-l-10"> <a class="nav-link sidebartoggler hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <!-- Messages -->
                        <li class="nav-item"> <a data-toggle="collapse" class="nav-link dropdown-toggle text-muted" href="#collapseExample"  aria-haspopup="true" aria-expanded="false"><i class="fa fa-filter"></i></a>   
                        </li>
                        <!-- End Messages -->
                    </ul>
                    <!-- User profile and search -->
                    <ul class="navbar-nav my-lg-0">

                        <!-- Search -->
                        <li class="nav-item hidden-sm-down search-box"> <a class="nav-link hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-search"></i></a>
                            <form class="app-search">
                                <input type="text" class="form-control" placeholder="Search here"> <a class="srh-btn"><i class="ti-close"></i></a> </form>
                        </li>
                        <!-- Comment -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-bell"></i>
								<div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
							</a>
                            <div class="dropdown-menu dropdown-menu-right mailbox animated zoomIn">
                                <ul>
                                    <li>
                                        <div class="drop-title">Notifications</div>
                                    </li>
                                    <li>
                                        <div class="message-center">
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="btn btn-danger btn-circle m-r-10"><i class="fa fa-link"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>This is title</h5> <span class="mail-desc">Just see the my new admin!</span> <span class="time">9:30 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="btn btn-success btn-circle m-r-10"><i class="ti-calendar"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>This is another title</h5> <span class="mail-desc">Just a reminder that you have event</span> <span class="time">9:10 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="btn btn-info btn-circle m-r-10"><i class="ti-settings"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>This is title</h5> <span class="mail-desc">You can customize this template as you want</span> <span class="time">9:08 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="btn btn-primary btn-circle m-r-10"><i class="ti-user"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>This is another title</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="nav-link text-center" href="javascript:void(0);"> <strong>Check all notifications</strong> <i class="fa fa-angle-right"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- End Comment -->
                        <!-- Messages -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted  " href="#" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-envelope"></i>
								<div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
							</a>
                            <div class="dropdown-menu dropdown-menu-right mailbox animated zoomIn" aria-labelledby="2">
                                <ul>
                                    <li>
                                        <div class="drop-title">You have 4 new messages</div>
                                    </li>
                                    <li>
                                        <div class="message-center">
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="user-img"> <img src="images/users/5.jpg" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span> </div>
                                                <div class="mail-contnet">
                                                    <h5>Michael Qin</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:30 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="user-img"> <img src="images/users/2.jpg" alt="user" class="img-circle"> <span class="profile-status busy pull-right"></span> </div>
                                                <div class="mail-contnet">
                                                    <h5>John Doe</h5> <span class="mail-desc">I've sung a song! See you at</span> <span class="time">9:10 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="user-img"> <img src="images/users/3.jpg" alt="user" class="img-circle"> <span class="profile-status away pull-right"></span> </div>
                                                <div class="mail-contnet">
                                                    <h5>Mr. John</h5> <span class="mail-desc">I am a singer!</span> <span class="time">9:08 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="user-img"> <img src="images/users/4.jpg" alt="user" class="img-circle"> <span class="profile-status offline pull-right"></span> </div>
                                                <div class="mail-contnet">
                                                    <h5>Michael Qin</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="nav-link text-center" href="javascript:void(0);"> <strong>See all e-Mails</strong> <i class="fa fa-angle-right"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- End Messages -->
                        <!-- Profile -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="images/users/5.jpg" alt="user" class="profile-pic" /></a>
                            <div class="dropdown-menu dropdown-menu-right animated zoomIn">
                                <ul class="dropdown-user">
                                    <li><a href="#"><i class="ti-user"></i> Profile</a></li>
                                    <li><a href="#"><i class="fa fa-map-marker"></i> Location</a></li>
                                    <li><a href="#"><i class="fa fa-power-off"></i> Logout</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            
            
        </div>
        
        
        <!-- End header header -->
        <!-- Left Sidebar  -->
        <div class="left-sidebar">
            <!-- Sidebar scroll-->
            
             <!--logos-->
			<div class="mahila_bharat logo-cont"><img src="images/logo.png"  width="40%"></div>
			<div class="health logo-cont"><img src="images/health-logo.png" width="40%"></div>
			<div class="yong_bharat logo-cont"><img src="images/young-bharat.png" width="40%"></div>
			<div class="bala_bharat logo-cont"><img src="images/logo.png" width="40%"></div>
			
			
			<div class="company-select">
			<select class="form-control custom-select text-center" id="group-logos">
			<option value="mahila_bharat">Mahila Bharat</option>
			<option value="health">Health</option>
			<option value="yong_bharat">Young Bharat</option>
			<option value="bala_bharat">Bala Bharat</option>
			</select>
			</div>
   			<!--logos-->
            
            
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
               
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        
                      
                        <li class="nav-devider"></li>
                        
                        <li class="active"><a class="has-arrow" href="#"  aria-expanded="false"><i class="fa fa-newspaper-o"></i><span class="hide-menu"> Article Info</span></a>
                        	 <ul aria-expanded="false" class="collapse">
                                <li><a href="index.html">New Article</a></li>
                                <li><a href="article-status.html">Article Status</a></li>
                            </ul>
                        </li>
                        
                       
                        <li> <a class="has-arrow " href="#" aria-expanded="false"><i class="fa fa-image"></i><span class="hide-menu">Gallerys</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="photo-gallery.html">Photo Gallery</a></li>
                                <li><a href="video-gallery.html">Video Gallery</a></li>
                                
                            </ul>
                        </li>
                        <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-users"></i><span class="hide-menu">Contributors</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="contributors.html">Contributors Entry</a></li>
                                <li><a href="contributors-reports.html">Contributors Reports</a></li>
                            </ul>
                        </li>
                        <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-calendar"></i><span class="hide-menu">Daily Tips </span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="dailytips.html">Daily Tips Entry</a></li>
                                <li><a href="#">Button</a></li>
                            </ul>
                        </li>
                        
                         <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-camera-retro"></i><span class="hide-menu">Sliders </span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="sliderpage.html">Sliders Entry</a></li>                               
                            </ul>
                        </li>
                        
                         <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-tags"></i><span class="hide-menu">Meta Tags </span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="meta-tags.html">Meta Tags Entry</a></li>                               
                            </ul>
                        </li>
                       
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </div>
        <!-- End Left Sidebar  -->
	
		
		<!--filters-->     
		
		<div class="filters-cont">
		<form action="#">
		<div class="col-md-12 animated zoomIn collapse"  id="collapseExample">
		
		<div>&nbsp;</div>
		<div class="row">
		
		<div class="col-md-4">
		<div class="form-group">
		<label class="control-label">Select <span class="sub-text">Language</span></label>
		<div class="clearfix"></div>
		<select class="example-enableFiltering-includeSelectAllOption" multiple="multiple">
		<option value="1">Option 1</option>
		<option value="2">Option 2</option>
		<option value="3">Option 3</option>
		<option value="4">Option 4</option>
		<option value="5">Option 5</option>
		</select>
		</div>
		</div>

		<div class="col-md-4">
		<div class="form-group">
		<label class="control-label">Group  <span class="sub-text">Category</span></label>
		<div class="clearfix"></div>
		<select class="example-enableFiltering-includeSelectAllOption" multiple="multiple">
		<option value="1">Option 1</option>
		<option value="2">Option 2</option>
		<option value="3">Option 3</option>
		<option value="4">Option 4</option>
		<option value="5">Option 5</option>
		</select>
		</div>
		</div>

		<div class="col-md-4">
		<div class="form-group">
		<label class="control-label">Main  <span class="sub-text">Category</span></label>
		<div class="clearfix"></div>
		<select class="example-enableFiltering-includeSelectAllOption" multiple="multiple">
		<option value="1">Option 1</option>
		<option value="2">Option 2</option>
		<option value="3">Option 3</option>
		<option value="4">Option 4</option>
		<option value="5">Option 5</option>
		</select>
		</div>
		</div>

		<div class="col-md-4">
		<div class="form-group">
		<label class="control-label">Sub <span class="sub-text">Category</span></label>
		<div class="clearfix"></div>
		<select class="example-enableFiltering-includeSelectAllOption" multiple="multiple">
		<option value="1">Option 1</option>
		<option value="2">Option 2</option>
		<option value="3">Option 3</option>
		<option value="4">Option 4</option>
		<option value="5">Option 5</option>
		</select>
		</div>
		</div>

		<div class="col-md-4">
		<div class="form-group">
		<label class="control-label">Date<span class="sub-text"> Period</span></label>
		<div class="clearfix"></div>
		<div class="f-cal-cont"><input type="text" class="input-calendar form-control" placeholder="YY-MM-DD -  YY-MM-DD"></div>
		<div class="cal-icon"><i class="fa fa-calendar cal-icon"></i></div>
		</div>
		</div>
		
		<div class="col-md-4">
		<div class="form-group">
		<label class="control-label">To <span class="sub-text">Date</span></label>
		<div class="clearfix"></div>
		<div class="f-cal-cont"><input type="text" class="normal-calendar form-control " placeholder="YY-MM-DD"></div>
		<div class="cal-icon"><i class="fa fa-calendar cal-icon"></i></div>
		</div>
		</div>

		<div class="col-md-12 text-right" style="padding-right:120px;">
		<button type="submit" class="btn btn-info"><i class="fa fa-send"></i> Submit</button>
		<button type="reset" class="btn btn-danger"><i class="fa fa-refresh"></i> Reset</button>
		</div>
		
	
		<div>&nbsp;</div>

		</div>
		
		</div>
		</form>
		</div>
		
		<!--filters--> 
       
       
       
        <!-- Page wrapper  -->
        <div class="page-wrapper">
          

          
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h5 class="text-primary">Dashboard</h5> </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Article Info</a></li>
                        <li class="breadcrumb-item active">New Article</li>
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->
            
          
             
            
            <!-- Container fluid  -->
            
                    
						<div class="col-lg-12">
							<div class="card card-outline-primary">
                            
                            <div class="card-body">
                                <form action="#">
                                    <div class="form-body">

                                        <div class="row p-t-20">
                                           
											<div class="col-md-4">
												<div class="form-group">
												<label class="control-label">Select <span class="sub-text">Language</span></label>
												<div class="clearfix"></div>
												<div class="inp-container">
												<select class="form-control">
													<option id="assamese" value="assamese"> Assamese </option>
													<option id="bengali" value="bengali"> Bengali </option>
													<option id="english" value="english" selected> English </option>
													<option id="gujarati" value="gujarati"> Gujarati</option>
													<option id="hindi" value="hindi"> Hindi </option>
													<option id="kannada" value="kannada"> Kannada </option>
													<option id="malayalam" value="malayalam"> Malayalam</option>
													<option id="marathi" value="marathi"> Marathi</option>
													<option id="oriya" value="oriya"> Oriya </option>
													<option id="punjabi" value="punjabi"> Punjabi </option>
													<option id="tamil" value="tamil"> Tamil </option>
													<option id="telugu" value="telugu"> Telugu </option>
													<option id="urdu " value="urdu "> Urdu  </option>
												</select>
												</div>
												</div>
											</div>
                                           	
                                           
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Group  <span class="sub-text">Category</span></label>
                                                     	<div class="clearfix"></div>
														<select class="example-enableFiltering-includeSelectAllOption" multiple="multiple">
														<option value="1">Option 1</option>
														<option value="2">Option 2</option>
														<option value="3">Option 3</option>
														<option value="4">Option 4</option>
														<option value="5">Option 5</option>
														</select>
                                           		 </div>
                                           	</div>
                                            
                                           <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Main  <span class="sub-text">Category</span></label>
                                                     	<div class="clearfix"></div>
														<select class="example-enableFiltering-includeSelectAllOption" multiple="multiple">
														<option value="1">Option 1</option>
														<option value="2">Option 2</option>
														<option value="3">Option 3</option>
														<option value="4">Option 4</option>
														<option value="5">Option 5</option>
														</select>
                                           		 </div>
                                           	</div>
                                           	
                                           	 <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Sub <span class="sub-text">Category</span></label>
                                                     	<div class="clearfix"></div>
														<select class="example-enableFiltering-includeSelectAllOption" multiple="multiple">
														<option value="1">Option 1</option>
														<option value="2">Option 2</option>
														<option value="3">Option 3</option>
														<option value="4">Option 4</option>
														<option value="5">Option 5</option>
														</select>
                                           		 </div>
                                           	</div>
                                           	
                                           	<div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Select <span class="sub-text">Gender</span></label>
                                                     	<div class="clearfix"></div>
														<div class="float-left gender-box"><input type="radio" name="gender"><i class="fa fa-male fa-1x fa-mr"></i></div>
														<div class="float-left gender-box"><input type="radio" name="gender"><i class="fa fa-female fa-1x fa-mr"></i></div>
                                           		 </div>
                                           	</div>
                                           	
                                           	<div class="col-md-4">
											<div class="form-group">
												<label class="control-label">Age <span class="sub-text"> Group</span></label>
												<div class="clearfix"></div>
												<div class="inp-container">
												<input type="text" name="age-grp" class="form-control">
												</div>
											</div>
                                           	</div>
                                           	
                                           	<div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label">Article Title <span class="sub-text">(English)</span></label>
                                                     <input type="text" name="art-tit-eng" class="form-control">
                                           		 </div>
                                           	</div>
                                           	
                                           	<div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label">Article Title <span class="sub-text">(Telugu)</span></label>
                                                     <div id="title"></div>
                                           		 </div>
                                           	</div>
                                           	
                                           	<div class="col-md-12 mr-b">
                                           	 <label class="control-label">Article<span class="sub-text"> Description</span></label>
												<div id="editor">
												
												</div>
                                           	</div>
                                          	
                                          	<div class="col-md-6">
                                          	 <label class="control-label">Featured  <span class="sub-text">Image</span></label>
                                          	 <select class="form-control">
                                          	 	<option>Different sizes Images</option>
                                          	 	<option>link-01</option>
                                          	 	<option>link-02</option>
                                          	 	<option>link-03</option>
                                          	 </select>
											
											<div style="margin-top: 15px;">
											<div class="img-inp-cont">
											<input type="file" name="file-7[]" id="file-8" class="inputfile inputfile-6" data-multiple-caption="{count} files selected" multiple />
											<label for="file-8"><span></span> <strong><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> Image Upload &hellip;</strong></label>
											</div>
											
											<div class="img-add-cont">
												<div class="pull-left mr-r"><button class="btn btn-dark"><i class="fa fa-plus"></i></button></div>
												<div class="pull-left"><button class="btn btn-danger"><i class="fa fa-trash"></i></button></div>
											</div>
											
											</div>
											
											</div>
                                         	
                                         	<div class="col-md-6">
                                          	 <label class="control-label">Video  <span class="sub-text">Type</span></label>
											<div class="clearfix"></div>
												 <select class="form-control">
													<option>Please Select Video Type</option>
													<option>link-01</option>
													<option>link-02</option>
													<option>link-03</option>
                                          	     </select>
												
												<div class="video-link-main">
												<div class="video-link-cont">
													<input type="text" name="links" class="form-control" placeholder="Facebook link....">
												</div>
												<div class="img-add-cont">
												<div class="pull-left mr-r"><button class="btn btn-dark"><i class="fa fa-plus"></i></button></div>
												<div class="pull-left"><button class="btn btn-danger"><i class="fa fa-trash"></i></button></div>
												</div>
												</div>
											</div>
                                         	
                                         	<div class="col-md-12 mr-b mr-t">
                                           	 <label class="control-label">Tags / <span class="sub-text">Keywords</span></label>
												<div class="tags-link-main">
												<div class="tags-link-cont">
													<input type="text" name="links" class="form-control" placeholder="health, yogo..">
												</div>
												<div class="img-add-cont">
												<div class="pull-left mr-r"><button class="btn btn-dark"><i class="fa fa-plus"></i></button></div>
												<div class="pull-left"><button class="btn btn-danger"><i class="fa fa-trash"></i></button></div>
												</div>
												</div>
                                           	</div>
                                           	
                                           	<div class="col-md-4 mr-b mr-t">
                                           	 <label class="control-label">Author / <span class="sub-text">Selection</span></label>
												<select class="form-control">
													<option>Employee</option>
													<option>Self</option>
													<option>Contributor</option>
												</select>
                                           	</div>
                                           	
                                           	<div class="col-md-4 mr-b mr-t">
                                           	 <label class="control-label">Emp / <span class="sub-text">Code</span></label>
												<input type="text" name="emp-code" class="form-control">
                                           	</div>
                                           	
                                           	<div class="col-md-4 mr-b  mr-t">
                                           	 <label class="control-label">Author / <span class="sub-text">Name</span></label>
												<input type="text" name="author-name" class="form-control">
                                           	</div>
                                          	
                                        </div>
                                       
                                       
                                       
                                       
                                       
                                    </div>
                                    <div class="form-actions text-center">
                                        <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Save</button>
                                        <button type="reset" class="btn btn-inverse"><i class="fa fa-refresh"></i> Reset</button>
                                    </div>
                                </form>
                            </div>
                        </div>
						</div>
                        

					<!-- footer -->
					<footer class="footer text-center"> © 2018 All rights reserved by <a href="#">Margadarsi Computers</a></footer>
					<!-- End footer -->
                        
                    </div>
                
				
					<!-- End PAge Content -->
	</div>
					<!-- End Container fluid  -->
      
          
    <!-- End Wrapper -->
    <!-- All Jquery -->
    

	
	<script src="js/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="js/custom-file-input.js"></script>
    <script src="js/lib/bootstrap/js/popper.min.js"></script>
    <script src="js/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="js/jquery.slimscroll.js"></script>
    <!--Menu sidebar -->
    
    <script src="js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
    
    
	<script type="text/javascript" src="js/pignose.calendar.full.min.js"></script>
	
  	

		<script src="js/custom.min.js"></script>
		<script src="js/bootstrap-multiselect.js"></script>
   	
		<!--multi selection upload-->	
		<script type="text/javascript">
		$(document).ready(function() {
		$('.example-enableFiltering-includeSelectAllOption').multiselect({
			includeSelectAllOption: true,
			enableFiltering: true
		});
		});
		</script>
		
		<script>
			initSample();
		</script>
		
		<script type="text/javascript">
    
			$(function () {
			$('#wrapper .version strong').text('v' + $.fn.pignoseCalendar.version);

			function onSelectHandler(date, context) {

				var $element = context.element;
				var $calendar = context.calendar;
				var $box = $element.siblings('.box').show();
				var text = 'You selected date ';

				if (date[0] !== null) {
					text += date[0].format('DD-MM-YYYY');
				}

				if (date[0] !== null && date[1] !== null) {
					text += ' ~ ';
				}
				else if (date[0] === null && date[1] == null) {
					text += 'nothing';
				}

				if (date[1] !== null) {
					text += date[1].format('DD-MM-YYYY');
				}

				$box.text(text);
			}

			function onApplyHandler(date, context) {


				var $element = context.element;
				var $calendar = context.calendar;
				var $box = $element.siblings('.box').show();
				var text = 'You applied date ';

				if (date[0] !== null) {
					text += date[0].format('DD-MM-YYYY');
				}

				if (date[0] !== null && date[1] !== null) {
					text += ' ~ ';
				}
				else if (date[0] === null && date[1] == null) {
					text += 'nothing';
				}

				if (date[1] !== null) {
					text += date[1].format('DD-MM-YYYY');
				}

				$box.text(text);
			}

			// Default Calendar
			$('.calendar').pignoseCalendar({
				select: onSelectHandler
			});

			// Input Calendar
			$('.input-calendar').pignoseCalendar({
				//apply: onApplyHandler,
				select: onSelectHandler,
				buttons: true, 
				theme: 'blue',
				multiple: true,

				// It means you can give bottom button controller to the modal which be opened when you click.
			});

			// Blue theme type Calendar
			$('.calendar-blue').pignoseCalendar({
				theme: 'blue', // light, dark, blue
				select: onSelectHandler
			});

			// Multiple picker type Calendar
			$('.multi-select-calendar').pignoseCalendar({
				multiple: true,
				select: onSelectHandler
			});

			 $('.normal-calendar').pignoseCalendar({
				apply: onApplyHandler,
				buttons: true, // It means you can give bottom button controller to the modal which be opened when you click.
			});


			});
    
		</script>
		
		<!--logos-->
		<script type="text/javascript">
				$(document).ready(function(){
				$("#group-logos").change(function(){
				$(this).find("option:selected").each(function(){
				var optionValue = $(this).attr("value");
				if(optionValue){
				$(".logo-cont").not("." + optionValue).hide();
				$("." + optionValue).show();
				} else{
				$(".logo-cont").hide();
				}
				});
				}).change();
				});
			</script>

</body>

</html>